.exame{
    background-color: rgb(245, 245, 245);
    padding: 15px;
    color: #000;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    height: 50px;
}
.exame:hover{
    color: #fff;
    background-color: #0052CC;
    transition: all .3s ease-in;
}