body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.master {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mainLogin {
    padding: 4em;
    display: flex;
    width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainLogin h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
    font-family: 'montserrat';
}

.mainLogin p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'roboto';
    font-weight: 400;
}

.sideLogin {
    padding: 0 5em;
    display: flex;
    width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
    background-color: #3554d1;
}

.sideLogin h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 24px;
    font-family: 'montserrat';
}

.sideLogin h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    opacity: 90%;
}

.sideLogin p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'roboto';
}


.btnLogin {
    margin-top: 15px;
    color: #fff;
    background-color: #3554d1;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'roboto';
    font-weight: normal;
}

.btnLogin:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.labelLogin {
    font-family: 'montserrat';
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
}

.inputLogin {
    border: 1px solid #EEF2F5;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'montserrat';
}

.inputsLogin{
    display: flex;
    flex-direction: column;

}

@media (max-width: 768px) {
    .sideLogin {
        display: none;
    }

    .mainLogin {
        padding: 2em;
        display: flex;
        width: 100vw;
        height: 100%;
    }

    .inputLogin {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border-radius: 5px;
    }

    .btnLogin {
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 5px;
    }

}