*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

.containerPanel{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0043a7;
}


.main{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: 150px, 1fr, 1fr, 1fr;
    gap: 1.5rem;
    background-color: #F2F2F2;
    padding: 4rem 2rem;
    width: 100vw;
    border-radius: 4rem 0 0 4rem;
    z-index: 10;
}

.subtitlePanel{
    font-size: 3rem;
    margin-bottom: 30px;
}

.textPanel{
    font-size: 1.4rem;
}

.titleDiv{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 200px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-box {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    list-style: none;
    border-radius: 5px;
    width: auto;
    height: 90px;
}

.card-title {
    font-size: 15px;
}

.card-body {
    font-size: 12px;
}


.graphics{
    background-color: #fff;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 3rem;
    border-radius: 3rem;
}

.lastExames{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
}

.titleLastExames, .titleGraphics{
    font-size: 25px;
    margin-bottom: 2rem;
}

.qtdExames{
    font-size: 6.2rem;
    padding: 15px;
    color: rgb(44, 43, 51);
    border-radius: 50%;
    border: 25px solid #0043a7;
    text-align: center;
    width: 200px;
    height: 200px;
}

.legGraph{
    margin-top: 1rem;
    font-size: 1rem;
    padding-left: 16px;
}

@media (max-width: 1440px){
    .subtitlePanel{ font-size: 1.5rem;}
    .textPanel{ font-size: 0.7rem; }
        .graphics {
            grid-column: 1/2;
            grid-row: 2/3;
            padding: 3rem;
            border-radius: 3rem;
        }
        .lastExames {
            grid-column: 1/2;
            grid-row: 3/4;
        }

}