@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0px auto;
  padding: 10px;
}

h1{
  margin-bottom: 15px;
}

.container{
  position: relative;
  margin-top: 20px;
  padding: 25px;
  border-radius: 5px;
  background-color:rgb(231, 231, 231);
  width: 35vw;
}

.backPanel{
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: rgb(231, 231, 231);
  color: #0052cc;
  border: 1px solid #0052cc;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.backPanel:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.botao{
  display: flex;
  flex-direction: column;
}

.add-exame{
  background-color:#0000ff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.buttonsModalDelete{
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

.btnRequisito{
  position: absolute;
  top: 4em;
  right: 2em;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color:#0052cc;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.btnVoltar{
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  color: #0052cc;
  border-radius: 5px;
  border: 2px solid #0052cc ;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
}

.btnRequisito:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.add-exame:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.seletor, .removedor{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(214, 216, 218);
}

.FilteredMultiSelect{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-select-add{
  height: 150px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
}
.form-select-add option{
  color: #000;
  font-size: 12px;
}

.form-select {
  height: 150px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
}

.form-select option {
  color: #000;
  font-size: 12px;
}

.selecaoOrientacoes{
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.listaOrientacoes, .orientacoesSelecionadas{
  width: 100%;
}


.btn-add{
  padding: 7px 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-active{
  background-color: #0000ff;
  color: #fff;
  border: none;
}

.btn-remove{
  padding: 7px 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-remove-active{
  background-color: #ff0000;
  color: #fff;
  border: none;
}


ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.tags-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 7px;
  }
  tags-input:focus {
    border: 1px solid #0052cc;
  }


.tags-input input {
  flex: 1;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
  height: 40px;
  width: 100%;
  font-size: 14px;
  }
  input:focus {
    outline: transparent;
  }

.seletor input {
  flex: 1;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
  height: 40px;
  font-size: 14px;
}

.removedor input{
    flex: 1;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    height: 40px;
    font-size: 14px;
}

.titulo-exame{
      background-color: rgb(252, 252, 252);
      padding: 10px;
      border-radius: 5px;
      margin: 5px 0;
      border: none;
      font-size: 14px;
}

.desc-exame {
  background-color: rgb(252, 252, 252);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  border: none;
  font-size: 14px;
}

.inputs{
  display: flex;
  flex-direction: column;
}

.label{
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: center;
  padding: 3px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
}

  .tag-title {
    margin-top: 3px;
  }

  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }

  .descOrientacao{
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    height: auto;
    width: 100%;
    font-size: 14px;
  }

  .descOrientacao textarea {
    width: 100%;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
  }

  @media (max-width: 1440px) {
    .container{
      width: 70vw;
    }
    .btnRequisito{
      font-size: 11px;
      width: 130px;
      padding: 5px;
      top: 80px;
      right: 25px;
    }
  }

  @media (max-width: 768px) {
    .container{
        width: 90vw;
    }
    .btnRequisito{
      font-size: 11px;
      width: 130px;
      padding: 5px;
      top: 80px;
      right: 25px;
    }
    .selecaoOrientacoes{
      flex-direction: column;
    }
  }